* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
}

#map {
  flex: 3;
  height: 100vh;
}

.marker1 {
  width: 32px;
  height: 39px;
  background-color: black;
  /* background-image: url(http://i.imgur.com/WbMOfMl.png); */
}

.navbar {
  display: flex;
  background-color: rgb(128, 90, 90);
  height: 7vh;
  font-family: 'Lobster', cursive;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 5vmax;
}

#main-area {
  display: flex;
}

#search {
  display: flex;
  flex-direction: column;
  flex: 1;

}

#listplaces {
  background-color: green;
  padding-left: 3%;
  font-family: 'Lobster', cursive;

}

#itinerary {
  background-color: blue;
  padding-left: 3%;
  font-family: 'Lobster', cursive;
}

@media(max-width: 600px){
    body {

    }
    #main-area {
        flex-direction: column;
    }
    #map {
        height: 50vh;
    }
}
